/* Criar evento modal */
.text-center { text-align: center; }
.to-right { float: right; }
.clearfix { clear: both; }
.entry-content { margin: 0;}

/* Placar */
.placar {
  color: #fff;
  background: #008641;
  margin: 0;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.placar-desc {
  color: #fff !important;
  background: #094;
  margin: 0 0 40px 0;
  padding: 1em;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.placar h4 { color: #fff; }
.placar-title {
  background: #ccc;
  color: #000;
  margin: 0;
  padding: 5px;
  text-align: center;
}
.placar-versus {
  text-align: center;
  font-size: 40px;
  line-height: 1em;
  font-weight: 100;
  width: 40px;
  flex: 0 0 1em !important;
}
.placar-versus h4 {
  margin: 0;
  padding: 0;
  font-weight: 100;
  color: #fff;
  opacity: .4;
  font-size: 50px;
}
.placar-descricao {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 5px;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  color: #eee;
  opacity: .3;
}
.equipe-1 { text-align: right; }
.equipe-2 { text-align: left; }
.equipe-1 span, .equipe-2 span { display: inline-block; }
.equipe-1 .placar-numero { padding-left: 10px; }
.equipe-2 .placar-numero { padding-right: 10px; }

.placar .grid { margin: 0; max-width: none !important }
.placar-contents {
  transition: all .5s ease-in-out;
  padding-bottom: 1em;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.placar-contents:hover { background: rgba(0,0,0,0.2); }
.placar-contents .placar-nome {
  font-size: 16px;
  font-weight: 100;
  line-height: 1em;
  color: #ddd;
}
.placar-contents .placar-numero {
  font-size: 30px;
  font-weight: normal;
  line-height: .7em;
  color: #fff;
}
.placar-contents .placar-actions { visibility: hidden; }
.placar-contents:hover .placar-actions { visibility: visible; }
.placar-actions { padding: 10px 0 0 0; }

/* Narracao */
.evento-nome { margin: .5em; }
.narracao-item { width: 40em; max-width: 40em; margin: auto; }
.narracao-item .embed iframe { box-shadow: 0 10px 10px #ccc; }
.narracao-item img { width: 100%; height: auto; box-shadow: 0 10px 10px #ccc }
.narracao-item .content { padding: 2.5em 0 5em 0; }
.narracao-item .content .actions { visibility: hidden; }
.narracao-item .content:hover .actions { visibility: visible; }
.narracao-item .ao-vivo-data {
  background: #fff;
  border-radius: 50%;
  border: 1px solid #ddd;
  width: 100px;
  height: 100px;
  margin: auto;
  text-align: center;
  color: #999;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.narracao-item .ao-vivo-data h3 { margin: 0; }
.narracao-item:hover .ao-vivo-data { border: 2px solid #ccc; color: #666; }

.narracao-side { position: relative; overflow: hidden; }
.narracao-side::after {
  content: ' ';
  position: absolute;
  height: 100vh;
  width: 1px;
  top: 0;
  left: 50%;
  border-left: 1px dashed #ccc;
  z-index: 0
}
.narracao-item:last-child .narracao-side::after { display: none; }
.narracao-side h3 { font-size: 24px; color: #999; }
.narracao-side small { color: #aaa; }
