<script type="text/ng-template" id="customTemplate.html">
  <a>
      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
      <i>({{match.model.capital}})</i>
  </a>
</script>

<form class="form-search" ng-controller="autocompleteController">
    Selecionado: {{selectedCountries}}
        <br><br>
        <input type="text" ng-model="selectedCountries" placeholder="Search Countries" typeahead="c as c.cidade for c in countries | filter:$viewValue | limitTo:10" typeahead-min-length='1' typeahead-on-select='onSelectPart($item, $model, $label)' typeahead-template-url="customTemplate.html" class="form-control" style="width:350px;">
</form>
